header
	h1.logo Brad Beltowski

	nav 
		ul
			li: a(href="#about") About
			li: a(href="#videos") Videos
			li: a(href="#work") Work
			li: a(href="#articles") Artiles
			li: a(href="#contact") Contact