header
	h1.logo Brad Beltowski

	nav.main-nav
		ul
			li: a(href="#about"): span About
			li: a(href="#videos"): span Videos
			li: a(href="#work"): span Work
			li: a(href="#articles"): span Articles
			li: a(href="#contact"): span Contact

div.container
	input#toggle(type="checkbox")
	label.toggle-container(for="toggle")
		span.button.button-toggle

	nav.nav
		a.nav-item(href="#about"): span About
		a.nav-item(href="#videos"): span Videos
		a.nav-item(href="#work"): span Work
		a.nav-item(href="#articles"): span Articles
		a.nav-item(href="#contact"): span Contact

section.hero
	h1.welcome-tagline: span(Hello, I am) Brad Beltowski
	p Delevoper. UX Designer. Entrepreneur