header
	h1.logo Brad Beltowski

	nav.main-nav
		ul
			li: a(href="#about"): span About
			li: a(href="#videos"): span Videos
			li: a(href="#work"): span Work
			li: a(href="#articles"): span Articles
			li: a(href="#contact"): span Contact

section.hero
	h1.welcome-tagline: span(Hello, I am) Brad Beltowski
	p Delevoper. UX Designer. Entrepreneur